.content{
    display: block;
    margin: auto;
    background-color: aquamarine;
    height: 100%;
    width: 100%;   

}

.container{
    display: grid;
    grid-template-columns: 100px 200px 300px 400px;
    grid-template-rows: 100px 200px 100px;
}
#content1{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px;
    border: 1px solid red;
    background-color: lime;
    grid-column: 1/3;
    grid-row: 2/4;
    
}
#content2{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px;
    border: 1px solid red;
    background-color: magenta;
}#content3{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px;
    border: 1px solid red;
    background-color: mediumslateblue;
}#content4{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px;
    border: 1px solid red;
    background-color: lime;
}#content5{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px;
    border: 1px solid red;
    background-color:rgb(234,244,123,0.4s);
}